[Unit]
Description=Telegram bot 'exchenger'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/bot2
ExecStart=python3.10 /root/bot2/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target